.boxed-view {
    align-items: center;
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.boxed-view__box {
    background: white;
    padding: 2.4rem;
    text-align: center;
    width:24rem;
    border: 1px solid $boxed-view-border-color;
}
.boxed-view__form{
    display:flex;
    flex-direction: column;
}
.boxed-view--modal {
    background: fade-out($light-grey, .3);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

}