.button {
    background: $button-purple;
    border: none;
    color: white;
    cursor: pointer;
    padding: $padding-med;
    font-size: $base-font-size;
    margin-bottom: $space;
    outline: none;
    transition: 0.3s;
    line-height:1.2;
}

.button-hover:hover {
    background-color: darken($button-purple, 10%)
}

.button--link {
    display:inline-block;
    text-decoration: none;
}
.button--pill{
    transition: 0.3s;
    background:transparent;
    color:$button-purple;
    border:1px solid $button-purple;
    padding:.3rem .8rem;
    margin:0 $space / 2 0 0;
    outline: none;
}
.button--pill:hover{
    color:white;
    background: $button-purple;
}
.button--secondary {
    color:#777777;
    border:1px solid #dddddd;
    background: #f9f9f9;
}
.button--header {
    background: #0084f7;
    margin:0;
    line-height:1;

    &:hover{
        background: darken(#0084f7, 15%);
    }
}
.button-danger{
    margin:0;
    color:white;
    background-color: firebrick;
    border:1px solid darken(firebrick, 15%);
    &:hover{
        background-color: darken(firebrick, 15%)
    }
}