.header{
    background: $purple;
    color:white;
}
.header__content {
    align-items: center;
    display:flex;
    justify-content: space-between;
    max-width: $site-max-width;
    margin:0 auto;
    height: $header-height;
    padding: $space;
    h1 {
        margin:0;
    }
}
.header__title {
    margin:0;
}
.header__nav-toggle{
    cursor: pointer;
    height: 3rem;
    width:3rem;
    @include desktop {
        display: none;
    }
}