.header{
    background: $purple;
    color:white;
}
.header__content {
    display:flex;
    justify-content: space-between;
    max-width: $site-max-width;
    margin:0 auto;
    height: $header-height;
    padding: $space;
    h1 {
        margin:0;
    }
}
